In [2]:
import pandas as pd
import numpy as np

import yfinance as yf
import pandas_datareader as pdr

In [3]:
STARTDATE = '1959-01-01'
ENDDATE = '2022-05-31'

startdate = pd.to_datetime(STARTDATE)
enddate = pd.to_datetime(ENDDATE)

ticks = ['CPIAUCSL','M2SL']
labels = ['CPI','M2']

rawdata = pdr.DataReader(ticks,'fred',startdate,enddate)
rawdata.index.name = 'date'
rawdata.index = pd.to_datetime(rawdata.index)
rawdata.columns = labels

In [4]:
FREQ = 12

if FREQ == 4:
    FREQcode = 'Q'
elif FREQ == 1:
    FREQcode = 'Y'
elif FREQ==12:
    FREQcode = 'M'

macro = rawdata.resample(FREQcode).agg('last')
macro.dropna(inplace=True)

In [5]:
tickers = ['SPY']

START = "1990-01-01"
END = "2022-05-31"

data = yf.download(tickers, start=START, end=END)['Adj Close']
data = data.resample('M').agg('last')
data.name = 'SPY'

spy = data.pct_change().dropna()

[*********************100%***********************]  1 of 1 completed

In [11]:
macro.head()

              CPI     M2
date
1959-01-31  29.01  286.6
1959-02-28  29.00  287.7
1959-03-31  28.97  289.2
1959-04-30  28.98  290.1
1959-05-31  29.04  292.2

In [8]:
macro.tail()

                CPI       M2
date
2021-12-31  280.126  21483.2
2022-01-31  281.933  21659.2
2022-02-28  284.182  21750.3
2022-03-31  287.708  21809.2
2022-04-30  288.663  21728.0

In [9]:
spy.head()

Date
1993-02-28    0.010668
1993-03-31    0.022399
1993-04-30   -0.025588
1993-05-31    0.026969
1993-06-30    0.003608
Freq: M, Name: SPY, dtype: float64

In [10]:
spy.tail()

Date
2022-01-31   -0.052741
2022-02-28   -0.029517
2022-03-31    0.037590
2022-04-30   -0.087769
2022-05-31    0.007913
Freq: M, Name: SPY, dtype: float64

In [13]:
with pd.ExcelWriter('../data/hw_3_2_data.xlsx') as writer:  
    macro.to_excel(writer, sheet_name='macro')
    spy.to_excel(writer, sheet_name='s&p500')