In [3]:
import pandas as pd
import numpy as np

import yfinance as yf

In [4]:
info = pd.DataFrame(columns=['ETF Description'])
info.loc['SPY'] = 'Domestic Equity SPDR S&P500'
info.loc['EFA'] = 'Foreign Equity iShares EAFE'
info.loc['EEM'] = 'iShares Emerging Markets'
info.loc['PSP'] = 'Private Equity Invesco Global Private Equity'
info.loc['QAI'] = 'Absolute Return IQ Multi-Strat'
info.loc['HYG'] = 'High Yield iShares High Yield Corporate Bond'
info.loc['DBC'] = 'Invesco DB Commodity Index Tracking Fund'
info.loc['IYR'] = 'Real Estate iShares US Real Estate'
info.loc['IEF'] = 'Domestic Bonds iShares 7-10 Year Treasury'
info.loc['BWX'] = 'Foreign Bonds SPDR Bloomberg Barclay International Treasury'
info.loc['TIP'] = 'Inflation-Indexed iShares TIPS Bond'
info.loc['SHV'] = 'iShares Short Treasury Bond'
info

                                       ETF Description
SPY                        Domestic Equity SPDR S&P500
EFA                        Foreign Equity iShares EAFE
EEM                           iShares Emerging Markets
PSP       Private Equity Invesco Global Private Equity
QAI                     Absolute Return IQ Multi-Strat
HYG       High Yield iShares High Yield Corporate Bond
DBC           Invesco DB Commodity Index Tracking Fund
IYR                 Real Estate iShares US Real Estate
IEF          Domestic Bonds iShares 7-10 Year Treasury
BWX  Foreign Bonds SPDR Bloomberg Barclay Internati...
TIP                Inflation-Indexed iShares TIPS Bond
SHV                        iShares Short Treasury Bond

In [5]:
tickers = list(info.index.values)

START = "2007-01-01"
END = "2022-05-31"
df = yf.download(tickers, start=START, end=END)['Adj Close']

[*********************100%***********************]  12 of 12 completed

In [6]:
prices = df.resample('M').last()
rets = prices.pct_change()
# use subsample starting in 2009-04-30 to avoid NaN
start_date = '2009-04-30'
rets = rets.loc[start_date:]
# change to excess returns, in excess of short-term treasury
retsx = rets.subtract(rets['SHV'], axis=0)
retsx = retsx.drop(columns=['SHV'])

In [7]:
rets

,BWX,DBC,EEM,EFA,HYG,IEF,IYR,PSP,QAI,SHV,SPY,TIP
Date,,,,,,,,,,,,
2009-04-30,0.008993,-0.001000,0.155583,0.115190,0.138460,-0.027452,0.296151,0.230202,0.022882,0.000553,0.099346,-0.017951
2009-05-31,0.053672,0.162663,0.159400,0.131918,0.028554,-0.020773,0.022727,0.053892,0.027865,-0.000472,0.058453,0.019966
2009-06-30,0.005149,-0.026259,-0.022495,-0.014049,0.033517,-0.005572,-0.024863,0.045449,-0.003436,0.000600,-0.000655,0.001982
2009-07-31,0.031284,0.018568,0.110146,0.100415,0.069191,0.008317,0.105799,0.143247,0.015326,-0.000028,0.074606,0.000879
2009-08-31,0.007628,-0.040365,-0.013136,0.045031,-0.016969,0.007634,0.131939,0.033413,-0.004151,0.000436,0.036940,0.008413
...,...,...,...,...,...,...,...,...,...,...,...,...
2022-01-31,-0.026176,0.078922,-0.000205,-0.036350,-0.026549,-0.021130,-0.082314,-0.086028,-0.020761,-0.000815,-0.052741,-0.020588
2022-02-28,-0.011197,0.064674,-0.043202,-0.034292,-0.008590,-0.003041,-0.045881,-0.073602,-0.006746,-0.000363,-0.029517,0.008557
2022-03-31,-0.042240,0.091747,-0.033811,0.005190,-0.012871,-0.040609,0.068646,-0.007721,-0.002587,-0.000363,0.037590,-0.018755
2022-04-30,-0.069696,0.056408,-0.061351,-0.067391,-0.041803,-0.042283,-0.041305,-0.125679,-0.033398,-0.000290,-0.087769,-0.021830
2022-05-31,0.011250,0.053396,-0.007787,0.026078,0.025120,0.016799,-0.032675,0.013310,-0.002348,0.000935,0.007913,-0.002847

In [8]:
retsx

,BWX,DBC,EEM,EFA,HYG,IEF,IYR,PSP,QAI,SPY,TIP
Date,,,,,,,,,,,
2009-04-30,0.008440,-0.001553,0.155029,0.114637,0.137907,-0.028005,0.295598,0.229649,0.022329,0.098793,-0.018505
2009-05-31,0.054144,0.163134,0.159872,0.132390,0.029026,-0.020301,0.023199,0.054364,0.028337,0.058925,0.020438
2009-06-30,0.004549,-0.026859,-0.023095,-0.014649,0.032918,-0.006172,-0.025463,0.044849,-0.004036,-0.001254,0.001382
2009-07-31,0.031312,0.018595,0.110174,0.100443,0.069219,0.008345,0.105827,0.143275,0.015354,0.074634,0.000907
2009-08-31,0.007192,-0.040801,-0.013572,0.044595,-0.017405,0.007198,0.131503,0.032977,-0.004587,0.036504,0.007977
...,...,...,...,...,...,...,...,...,...,...,...
2022-01-31,-0.025361,0.079737,0.000610,-0.035535,-0.025734,-0.020315,-0.081499,-0.085213,-0.019946,-0.051926,-0.019773
2022-02-28,-0.010834,0.065037,-0.042840,-0.033929,-0.008228,-0.002679,-0.045518,-0.073240,-0.006383,-0.029154,0.008919
2022-03-31,-0.041877,0.092110,-0.033449,0.005552,-0.012509,-0.040247,0.069009,-0.007359,-0.002225,0.037953,-0.018393
2022-04-30,-0.069406,0.056699,-0.061061,-0.067101,-0.041513,-0.041992,-0.041014,-0.125388,-0.033108,-0.087479,-0.021540
2022-05-31,0.010315,0.052461,-0.008722,0.025143,0.024185,0.015864,-0.033610,0.012375,-0.003283,0.006978,-0.003782

In [9]:
with pd.ExcelWriter('multi_asset_etf_data_1.xlsx') as writer:  
    info.to_excel(writer, sheet_name= 'descriptions')
    rets.to_excel(writer, sheet_name='total returns')
    retsx.to_excel(writer, sheet_name='excess returns')